<!doctype html>
<html lang="en">
<head>

<title>Database Login</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="CSS/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="CSS/main.css">
<link rel="stylesheet" type="text/css" href="CSS/login.css">


<script src="JS/lib/angular.min.js"></script>
<script src="JS/lib/jquery-1.11.3.min.js"></script>
<script src="JS/lib/angular-cookies.min.js"></script>
<script src="JS/lib/angular-route.min.js"></script>
<script src="JS/lib/bootstrap.min.js"></script>

<script src="JS/app.js"></script>

<script src="JS/Directive/Directive.js"></script>
<script src="JS/Services/loggedUser.js"></script>

<script src="JS/Controllers/Login.js"></script>
<script src="JS/Controllers/MasterEntry.js"></script>
<script src="JS/Controllers/EditorAdd.js"></script>
<script src="JS/Controllers/EditorHome.js"></script>
<script src="JS/Controllers/TechnicalPreview.js"></script>

</head>
<body ng-app="myApp">
	<div ng-controller="appCtrl">
		<div class="loginBar" ng-show="loggedUserName">
			<span class="logoLogin">Sahyadri DataBase 1.0</span> <span class="welcomeMsgLogin">Welcome to
				{{userRolePanel}} Panel !!!!</span > <span class="userNameLogin"><span 
				class="glyphicon glyphicon-user "></span> <b>{{loggedUserName}}</b></span> <span>
				<a class="btn ntn-default btnToAdd logoutBtn" ng-click="logout()">Logout</a>
			</span>
		</div>


		<div ng-view></div>
	</div>
	<footer>&copy; Copyright to DDK, Mumbai 40030</footer>
</body>
</html>