.loginDiv {
	 width: 42%;
    background-color: #ffffff;
    padding: 60px;
    text-align: center;
    position: relative;
    margin-top: 35px;
    left: 33%;
    border: 2px solid #0680BD;
    border-radius: 5px;
}

input[type="password"] {
	width: 250px !important;
	border: 1px solid #40AAF5;
}

.loginBtnGroup {
	margin-left: 137px !important;
}

.wlcmMsg {
	text-align: center;
	margin-top: 71px;
	color: #0680BD;
	font-size: 26px;
	margin-left: 5%;
}

footer {
	text-align: center;
	position: fixed;
	left: 0;
	bottom: 0;
	height: 25px;
	width: 100%;
	background:linear-gradient(#E5F3F9,#7AB4F1);
	background: -webkit-linear-gradient(#E5F3F9,#7AB4F1); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#E5F3F9,#7AB4F1); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#E5F3F9,#7AB4F1); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#E5F3F9,#7AB4F1);
	color: #000000;
}

.errLogin {
	margin-top: 8px;
}

.welcomeMsgLogin {
	position: relative;
	left: 23%;
	font-size: 17px;
	font-weight: bold;
	color: #286090;
}

.logoLogin {
	position: relative;
	left: 1%;
	font-size: 17px;
	font-weight: bold;
	color: #286090;
}

.userNameLogin {
	position: absolute;
	left: 81%;
	color: #286090;
}