body {
	background-color: #DCEBFB;
}

.navHeadAlign {
	margin-left: 11px !important;
}

.radioHome {
	text-align: center;
}

.redioBlock {
	display: block;
	min-width: 110px;
}
.radioAlign{
	margin-left: 5px;
}

.filterSelection {
	font-size: 14px;
	font-weight: bold;
	margin: 2px;
	color: #06111B;
	padding: 6px;
	border: 1px solid #606163;
	display: inline-block;
	border-radius: 3px;
	background-color: #ffffff;
}

.nameColor {
	font-size: 12px;
	color: rgba(6, 128, 189, 0.86);
}

footer {
	text-align: center;
	position: fixed;
	left: 0;
	bottom: 0;
	height: 25px;
	width: 100%;
	background-color: #4ABBF1;
	color: #000000;
}

table.homeTable, th, td {
	margin-top: 15px;
	border: 2px solid #2FA8E4;
	border-collapse: collapse;
	padding: 5px;
	margin-left: 10px;
}

table.reviewTable, th, td {
	border: 2px solid #2FA8E4;
	border-collapse: collapse;
	padding: 5px;
	margin-left: 10px;
	margin-right: 20px;
}

table tr:nth-child(odd) {
	background-color: #D9E5F7;
	color: #0680BD;
}

.gradient {
	background: linear-gradient(#C6DCE6, #5CA4EF);
	background: -webkit-linear-gradient(#C6DCE6, #5CA4EF);
	/* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#C6DCE6, #5CA4EF);
	/* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#C6DCE6, #5CA4EF);
	/* For Firefox 3.6 to 15 */
	background: linear-gradient(#C6DCE6, #5CA4EF);
}

table tr:nth-child(even) {
	background-color: #C9DCF9;
	color: #0680BD;
}

.title {
	text-align: center;
	color: #2FA8E4;
	text-decoration: underline;
}

.selectedFilterList {
	border: 1px solid #337ab7;
	border-radius: 5px;
	margin-top: 13px;
	background-color: #0680bd;
	padding: 0px;
	color: #f5f5f5;
}

.selectedLi {
	margin-left: 5px;
	/* border: 1px solid #0680bd; */
	padding: 4px;
	display: inline;
	background-color: #ffffff;
	border-radius: 3px;
	cursor: default;
}

.selectedA {
	text-decoration: none !important;
}

.tableHead td {
	font-weight: bold;
}

.navbar-default {
	margin-top: 4px !important;
	border-radius: 0px !important;
	background-color: #AFD6F3 !important;
	border: 1.5px solid #4ABBF1 !important;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus,
	.navbar-default .navbar-nav>.active>a:hover {
	color: #D9EDF7 !important;
	background-color: #5CBAE6 !important;
}

a.navbar-brand {
	color: #0680BD !important;
}

li a {
	color: #0680BD !important;
}

label {
	width: 175px;
	display: inline-block;
	vertical-align: middle;
	color: #0680BD !important;
}

input[type="text"] {
	width: 250px !important;
	vertical-align: middle;
	border: 1px solid #40AAF5;
}

.editButton {
	background-color: #0680BD;
	border: 1px solid #d9edf7;
	color: #d9edf7;
}

.editButton:hover {
	background-color: #8686F1;
	border: 1px solid white;
	color: white;
}

.editForm {
	position: absolute;
	left: 350px;
	margin-top: 21px;
}

.buttonGroup {
	margin-left: 101px;
}

.btnHome {
	background-color: #0680BD;
	border: 1px solid #d9edf7;
	color: #d9edf7;
	font-weight: bold;
}

.btnHome:hover {
	background-color: #80E5FF;
	border: 1px solid #0680BD;
	color: #0680BD;
}

.acceptStatus {
	background-color: #5F5858;
	color: white;
}

.pendingStatus {
	background-color: #ff6600;
	color: white;
}

.notOKStatus {
	background-color: #FF0000;
	color: white;
}

.OKStatus {
	background-color: #3C923C;
	color: white;
}

.ResubmitStatus {
	background-color: #376FC3;
	color: #e5f3f9;
}

.buttonGroupReview {
	position: absolute;
	left: 620px;
}

.programSelectBox {
	width: 250px !important;
	border: 1px solid #40AAF5;
}

.fileChoose {
	display: inherit !important;
}

.fileInput {
	min-width: 400px !important;
}

.radioProgram {
	margin-left: 50px;
}

.editProgramForm {
	position: absolute;
	left: 456px;
}

.errorMsg {
	font-family: cursive;
	color: red;
}

.errAlign {
	margin-left: 180px;
}

.selectedFilterLi {
	border: 1px solid #2FA8E4;
	border-radius: 3px;
	margin-top: 13px;
	background-color: #ffffff;;
	padding: 3px;
	color: #0680BD;
}

.selectedFilterSpan {
	background-color: #2FA8E4;
	margin: 4px;
	color: #ffffff;
	border: 1px solid #ffffff;
	cursor: default;
	padding: 2px;
}

.btnToAdd {
	margin-top: 8px;
	float: right;
	background-color: #0680BD;
	border: 1px solid #d9edf7;
	color: #d9edf7;
	font-weight: bold;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus,
	.navbar-default .navbar-nav>.open>a:hover {
	color: #D9EDF7 !important;
	background-color: #5CBAE6 !important;
}

.loginBar {
	background: linear-gradient(#E5F3F9, #7AB4F1);
	background: -webkit-linear-gradient(#E5F3F9, #7AB4F1);
	/* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#E5F3F9, #7AB4F1);
	/* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#E5F3F9, #7AB4F1);
	/* For Firefox 3.6 to 15 */
	background: linear-gradient(#E5F3F9, #7AB4F1);
	padding: 7px;
	height: 36px;
}
.navFixed{
	position: fixed;
	top: 0;
}

.navGradient {
	background: linear-gradient(#E5F3F9, #7AB4F1);
	background: -webkit-linear-gradient(#E5F3F9, #7AB4F1);
	/* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#E5F3F9, #7AB4F1);
	/* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#E5F3F9, #7AB4F1);
	/* For Firefox 3.6 to 15 */
	background: linear-gradient(#E5F3F9, #7AB4F1);
}

.logoutBtn {
	margin-top: -6px !important;
}