<nav class="navbar navbar-default">
	<div class="container-fluid navGradient">
		<div class="navbar-header navHeadAlign">
			<a class="navbar-brand" href="#/editorAdd">Program Details</a>
		</div>
		<div>
			<ul class="nav navbar-nav">
				<li><a href="#/editorHome">Home</a></li>
				<li class="active"><a href="#/editorAdd">Add data</a></li>
				<li><a href="#/editorAdd" ng-click="manualEntry=true" 
					ng-show="manualEntry ==false">Manual Entries</a>
					<a href="#/editorAdd" ng-click="manualEntry=false" 
					ng-show="manualEntry ==true">Dropdown Entries</a>
					</li>
			</ul>
		</div>
	</div>
</nav>

<form novalidate class="form-inline editForm" name="addForm">
	<div class="addForm">
		<div class="form-group">
			<label class="radio-inline"> <input type="radio" ng-click="promoDuration=undefined"
				id="programType" ng-model="programType" name="programType"
				value="Program"><b>Program{{promoDuration}}</b>
			</label> <label class="radio-inline"> <input type="radio"
				id="programType" ng-model="programType" name="programType"
				value="Promo"><b>Promo</b>
			</label> <label class="radio-inline"> <input type="radio"
				id="programType" ng-model="programType" name="programType"
				value="Commercial"><b>Commercial</b>
			</label><br> <br> <label>Program Name:</label> <select ng-change="updateGenre(program)"
				ng-model="program"
				ng-options="item.programName for item in programList | orderBy:'programName'"
				class="form-control programSelectBox" name="program" id="program"
				required="required">
				<option value="">Select Program</option>
			</select> <br> <span
				class="errorMsg errAlign"
				ng-show="addForm.program.$dirty && addForm.program.$error.required">
				<span class="glyphicon glyphicon-warning-sign"></span> &nbsp;Program
				Name is required.
			</span>


		</div>
		<br> <br>
		<div class="form-group">
			<label>Genre:</label> <input type="text" class="form-control"
				ng-model="genre" name="genre" id="genre" placeholder="Enter Genre"
				disabled="disabled">
		</div>
		
		<div class="form-group" ng-show="programType=='Promo'" >
			<label>Duration:</label> <input type="text" class="form-control" ng-required="programType=='Promo'"
				ng-model="promoDuration" name="promoDuration" id="promoDuration" 
				ng-pattern="/^[0-9]*$/" placeholder="Enter Promo Duration">
				<br> <span
				class="errorMsg errAlign"
				ng-show="addForm.promoDuration.$dirty && (addForm.promoDuration.$error.required || 
				addForm.promoDuration.$invalid)">
				<span class="glyphicon glyphicon-warning-sign"></span> &nbsp;Promo Duration
				is required & Only Numbers allowed.
			</span>
		</div>
		
		

		<br> <br>
		<div class="form-group">
			<label>Subject:</label> <input type="text" class="form-control"
				ng-model="subject" name="subject" id="subject"
				placeholder="Enter Subject" required="required"
				ng-pattern="/^[0-9a-zA-Z ]*$/"> <br> <span
				class="errorMsg errAlign"
				ng-show="addForm.subject.$dirty && (addForm.subject.$error.required || addForm.subject.$invalid)">
				<span class="glyphicon glyphicon-warning-sign"></span> &nbsp;Subject
				is required & Only Alphabets allowed.
			</span>
		</div>
		
		<br> <br>
		<div class="form-group">
			<label>Choose NLE:</label><select ng-model="nle"
			class="form-control programSelectBox" name="nle"
				id="nle" required="required">
				<option value="">Select NLE</option>
				<option value="h1">HD NLE 1</option>
				<option value="s1">NLE 1</option>
				<option value="s1a">NLE 1A</option>
				<option value="s2">NLE 2</option>
				<option value="s2a">NLE 2A</option>
				<option value="s3">NLE 3</option>
				<option value="s4">NLE 4</option>
				<option value="s5">NLE 5</option>
				<option value="s6">NLE 6</option>
				<option value="s11">NLE 11</option>
			</select> <br> <span class="errorMsg errAlign"
				ng-show="addForm.nle.$dirty  && (addForm.nle.$error.required
						 || addForm.nle.$invalid)">
				<span class="glyphicon glyphicon-warning-sign"></span>
				&nbsp;NLE is required.
			</span>
		</div>
		<br> <br>
		<div class="form-group">
			<label>File Path:</label> <input type="text"
				class="form-control fileInput" ng-model="filePath" name="filePath"
				id="filePath" placeholder="Get File Path"
				ng-disabled="manualEntry ==false" required="required"> <input type="file" ng-show="nle"
				class="fileChoose" ng-model="filePathBrowse" name="filePathBrowse"
				id="filePathBrowse" placeholder="Enter File Path" ng-show="manualEntry==false">
			<button class="btn btn-default btnHome" ng-show="manualEntry==false"
				ng-click="getFilePath(program)">Get File path</button>
		</div>
		<br> <br>
		<div class="form-group">
			<label>File Name:</label> <input type="text"
				class="form-control fileInput" ng-model="fileName" name="fileName"
				id="fileName" placeholder="Enter File Name" ng-disabled="manualEntry ==false"
				required="required">
		</div>
		<br> <br>
		<div class="form-group">
			<label>Media Format:</label><input type="text" class="form-control"
				ng-model="mediaFormat" name="mediaFormat" id="mediaFormat"
				placeholder="Enter Media Format" ng-disabled="manualEntry ==false"
				required="required">
		</div>
		<br> <br>
		<div class="form-group">
			<label ng-show="isEpisode">Episode Number:</label> <label
				ng-hide="isEpisode">Telecast Date:</label> <input type="text"
				class="form-control" ng-model="episodeNumber" name="episodeNumber" 
				id="episodeNumber" required="required">
		</div>


		<br> <br>

		<div class="form-group">
			<label>Producer:</label><select ng-model="producerName"
				ng-change="updateProducerName(producerName)"
				ng-options="item.firstName+' '+item.lastName for item in producerList | orderBy:'firstName'"
				class="form-control programSelectBox" name="producerName"
				id="producerName" required="required">
				<option value="">Select Producer</option>
			</select> <br> <span class="errorMsg errAlign"
				ng-show="addForm.producerName.$dirty && (addForm.producerName.$error.required
						 || addForm.producerName.$invalid)">
				<span class="glyphicon glyphicon-warning-sign"></span>
				&nbsp;Producer name is required & Only Alphabets allowed.
			</span>
		</div>
		<br> <br>

		<div class="form-group">
			<label>Artists:</label> <input type="text" class="form-control"
				ng-model="artist1" name="artist1" id="artist1"
				placeholder="Enter Artist 1" 
				ng-pattern="/^[a-zA-Z/,. ]*$/"> <input type="text"
				class="form-control" ng-model="artist2" name="artist2" id="artist2"
				placeholder="Enter Artist 2" ng-pattern="/^[a-zA-Z/,. ]*$/">
			<input type="text" class="form-control" ng-model="artist3"
				name="artist3" id="artist3" placeholder="Enter Artist 3"
				ng-pattern="/^[a-zA-Z/,. ]*$/"> <br> <span class="errorMsg errAlign"
				ng-show="(addForm.artist2.$dirty && addForm.artist2.$invalid)||
						(addForm.artist3.$dirty && addForm.artist3.$invalid) ||
						(addForm.artist1.$dirty && addForm.artist1.$invalid)">
				<span class="glyphicon glyphicon-warning-sign"></span> &nbsp;Only
				Alphabets allowed.
			</span>
		</div>
		<br> <br>
		<div class="form-group">
			<label>Guests:</label> <input type="text" class="form-control"
				ng-model="guest1" name="guest1" id="guest1"
				placeholder="Enter Guest 1" ng-pattern="/^[a-zA-Z/,. ]*$/"> <input
				type="text" class="form-control" ng-model="guest2" name="guest2"
				id="guest2" placeholder="Enter Guest 2"
				ng-pattern="/^[a-zA-Z/,. ]*$/"> <input type="text"
				class="form-control" ng-model="guest3" name="guest3" id="guest3"
				placeholder="Enter Guest 3" ng-pattern="/^[a-zA-Z/,. ]*$/"> <br>
			<span class="errorMsg errAlign"
				ng-show="(addForm.guest1.$dirty && addForm.guest1.$invalid)||
						(addForm.guest2.$dirty && addForm.guest2.$invalid)||
						(addForm.guest3.$dirty && addForm.guest3.$invalid)">
				<span class="glyphicon glyphicon-warning-sign"></span> &nbsp;Only
				Alphabets allowed.
			</span>
		</div>
		<br> <br>
		<div class="form-group">
			<label>Cameraman:</label> <input type="text" class="form-control"
				ng-model="cameraMan1" name="cameraMan1" id="cameraMan1"
				placeholder="Enter cameraman 1" ng-pattern="/^[a-zA-Z/,. ]*$/">
			<input type="text" class="form-control" ng-model="cameraMan2"
				name="cameraMan2" id="cameraMan2" placeholder="Enter cameraman 2"
				ng-pattern="/^[a-zA-Z/,. ]*$/"> <input type="text"
				class="form-control" ng-model="cameraMan3" name="cameraMan3"
				id="cameraMan3" placeholder="Enter cameraman 3"
				ng-pattern="/^[a-zA-Z/,. ]*$/"> <br> <span
				class="errorMsg errAlign"
				ng-show="(addForm.cameraMan1.$dirty && addForm.cameraMan1.$invalid)||
						(addForm.cameraMan2.$dirty && addForm.cameraMan2.$invalid)||
						(addForm.cameraMan3.$dirty && addForm.cameraMan3.$invalid)">
				<span class="glyphicon glyphicon-warning-sign"></span> &nbsp;Only
				Alphabets allowed.
			</span>
		</div>
		<br> <br>

		<div class="form-group">
			<label>Edit Suit:</label> <select ng-model="editSuit"
				ng-change="updateEditSuit(editSuit)"
				ng-options="item.editSuiteName for item in editSuitList | orderBy:'editSuiteName'"
				class="form-control programSelectBox" name="editSuit" id="editSuit"
				required="required">
				<option value="">Select Edit Suit</option>
			</select> <br> <span class="errorMsg errAlign"
				ng-show="addForm.editSuit.$dirty && addForm.editSuit.$error.required">
				<span class="glyphicon glyphicon-warning-sign"></span> &nbsp;Edit
				Suit is required.
			</span>
		</div>
		<br> <br>
		<div class="form-group">
			<label>Editor:</label> <input type="text" class="form-control"
				ng-model="editor" name="editor" id="editor"
				placeholder="Enter Editor's Name" ng-pattern="/^[a-zA-Z/. ]*$/"
				required="required" disabled="disabled"> <br> <span
				class="errorMsg errAlign"
				ng-show="addForm.editor.$dirty && (addForm.editor.$error.required
						 || addForm.editor.$invalid)">
				<span class="glyphicon glyphicon-warning-sign"></span> &nbsp;Editor
				Name is required & Only alphabets allowed.
			</span>
		</div>
		<br> <br>
		<div class="buttonGroup">
			<button class="btn ntn-default btnHome" ng-click="addData();"
				ng-disabled="addForm.$invalid || addForm.$pristine">Submit
				For Preview</button>
			<button class="btn ntn-default btnHome" ng-click="clearData();">Clear</button>
			<button class="btn ntn-default btnHome" ng-click="cancelData();">Cancel</button>
		</div>
		<br> <br> <br>
	</div>
</form>
