
<div>
	<div>
		<nav class="navbar navbar-default" ng-show="isUpdateDetails=='1'">
			<div class="container-fluid navGradient">
				<div class="navbar-header navHeadAlign">
					<a class="navbar-brand" href="#/editorHome">Filter Results</a>
				</div>
				<div>
					<ul class="nav navbar-nav">
						<li class="dropdown"><a class="dropdown-toggle"
							data-toggle="dropdown" href="#/editorHome">Program Name<span
								class="caret"></span></a>
							<ul class="dropdown-menu">
								<li ng-repeat="x in programListDropdown | orderBy:'programName'"><a
									ng-click="filterProgram(x);"><b>{{x.programName}}</b></a></li>
							</ul></li>


						<li class="dropdown"><a class="dropdown-toggle"
							data-toggle="dropdown" href="#/editorHome">Genre<span
								class="caret"></span></a>
							<ul class="dropdown-menu">
								<li ng-repeat="x in genreListDropdown | orderBy:'genreName'"
									ng-click="filterGenre(x);"><a><b>{{x.genreName}}</b></a></li>
							</ul></li>

						<li class="dropdown"><a class="dropdown-toggle"
							data-toggle="dropdown" href="#/editorHome">Edit Suit<span
								class="caret"></span></a>
							<ul class="dropdown-menu">
								<li
									ng-repeat="x in editSuitListDropdown | orderBy:'editSuiteName'"><a
									ng-click="filterEditSuit(x);"><b>{{x.editSuiteName}}</b></a></li>
							</ul></li>

						<li class="dropdown"><a class="dropdown-toggle"
							data-toggle="dropdown" href="#/editorHome">Status<span
								class="caret"></span></a>
							<ul class="dropdown-menu">

								<li ng-repeat="x in statusListDropdown | orderBy:'status'"><a
									ng-click="filterStatus(x);"><b>{{x.status}}</b></a></li>

							</ul></li>

						<li class="dropdown"><a class="dropdown-toggle"
							data-toggle="dropdown" href="#/editorHome">Producer<span
								class="caret"></span></a>
							<ul class="dropdown-menu">
								<li ng-repeat="x in producerListDropdown | orderBy:'firstName'"><a
									ng-click="filterProducer(x);"><b>{{x.firstName+'
											'+x.lastName }}</b></a></li>
							</ul></li>

					</ul>
				</div>
				<a class="btn ntn-default btnToAdd" href="#editorAdd">Add New
					Program</a>
			</div>
		</nav>

		<div ng-show="programFilterVal.length !='0'" class="filterSelection">
			Programs:
			<li ng-repeat="x in programFilterVal" class="selectedLi"><a
				class="selectedA"><b class="nameColor">{{x.programName}}</b> <span class="selectedFilterList"
					ng-click="clearProgram(x)">&#x2716;</span></a></li>
		</div>
		<div ng-show="genreFilterVal.length !='0'" class="filterSelection">
			Genres:
			<li ng-repeat="x in genreFilterVal" class="selectedLi"><a
				class="selectedA"><b  class="nameColor">{{x.genreName}}</b> <span class="selectedFilterList"
					ng-click="clearGenre(x)">&#x2716;</span></a></li>
		</div>
		<div ng-show="editSuitFilterVal.length !='0'" class="filterSelection">
			Edit Suites:
			<li ng-repeat="x in editSuitFilterVal" class="selectedLi"><a
				class="selectedA"><b  class="nameColor">{{x.editSuiteName}}</b> <span class="selectedFilterList"
					ng-click="clearEditSuit(x)">&#x2716;</span></a></li>
		</div>
		<div ng-show="statusFilterVal.length !='0'" class="filterSelection">
			Status:
			<li ng-repeat="x in statusFilterVal" class="selectedLi"><a
				class="selectedA"><b  class="nameColor">{{x.status}}</b> <span class="selectedFilterList"
					ng-click="clearStatus(x)">&#x2716;</span></a></li>
		</div>
		<div ng-show="producerFilterVal.length !='0'" class="filterSelection">
			Producers:
			<li ng-repeat="x in producerFilterVal" class="selectedLi"><a
				class="selectedA"><b  class="nameColor">{{x.firstName+' '+x.lastName}}</b> <span class="selectedFilterList"
					ng-click="clearProducer(x)">&#x2716;</span></a></li>
		</div>


		<div ng-show="isUpdateDetails=='1'">
			<div class="form-group radioHome">
				<label class="radio-inline"> <input type="radio"
					id="programTypeHome" ng-model="programTypeHome" value="Program"
					ng-click="fetchNewData()" name="programTypeHome"><b>Program</b></label>
				<label class="radio-inline"> <input type="radio"
					value="Promo" id="programTypeHome" ng-model="programTypeHome"
					ng-click="fetchNewData()" name="programTypeHome"><b>Promo</b></label>

			</div>
			<table class="homeTable">
				<tr class="tableHead">
					<td>S No.</td>
					<td>Program Name</td>
					<td>Genre</td>
					<td ng-show="programTypeHome=='Promo'">Duration</td>
					<td>File Name</td>
					<td>Episode No./<br>Telecast Date
					</td>
					<td>Producer</td>
					<td>Media Format</td>
					<td>Artists</td>
					<td>Guests</td>
					<td>Cameramans</td>
					<td>Edit Suit</td>
					<td>Technical Preview Remarks</td>
					<td>Status</td>
					<td>Update Data</td>
				</tr>
				<tr ng-repeat="x in names">
					<td>{{ $index + 1 +"."}}</td>
					<td>{{ x.programmeName }}</td>
					<td>{{ x.genre }}</td>
					<td ng-show="programTypeHome=='Promo'">{{ x.promoDuration }}</td>
					<td>{{ x.fileName }}</td>
					<td>{{ x.episodeNumber }}</td>
					<td>{{ x.producer.firstName+' '+ x.producer.lastName}}</td>
					<td>{{ x.mediaFormat }}</td>
					<td><span ng-if="x.artists[0].name">1.{{
							x.artists[0].name}}<br>
					</span> <span ng-if="x.artists[1].name">2.{{ x.artists[1].name}}<br></span>
						<span ng-if="x.artists[2].name">3.{{ x.artists[2].name}}</span></td>
					<td><span ng-if="x.guests[0].name">1.{{
							x.guests[0].name}}<br>
					</span> <span ng-if="x.guests[1].name">2.{{ x.guests[1].name}}<br></span>
						<span ng-if="x.guests[2].name">3.{{ x.guests[2].name}}</span></td>
					<td><span ng-if="x.cameramen[0].name">1.{{
							x.cameramen[0].name}}<br>
					</span> <span ng-if="x.cameramen[1].name">2.{{
							x.cameramen[1].name}}<br>
					</span> <span ng-if="x.cameramen[2].name">3.{{
							x.cameramen[2].name}}</span></td>
					<td>{{ x.editSuiteName }}</td>
					<td><textarea class="form-control" rows="3" columns="25"
							readonly="readonly" id="x.tcRemarks[0].remark"
							title="Remarks are read only for Editor." tooltip
							ng-model="x.tcRemarks[0].remark" name="x.tcRemarks[0].remark"></textarea>
						<a ng-click="seeAllRemarks(x.entryId)" href="#/editorHome"
						ng-hide="x.technicalPreviewStatus=='Pending'"
						class="btn ntn-default btn-active">History</a></td>
					<td
						ng-class="{'pendingStatus': x.technicalPreviewStatus=='Pending', 
					'notOKStatus': x.technicalPreviewStatus=='Not OK',
					'OKStatus': x.technicalPreviewStatus=='OK',
					'ResubmitStatus': x.technicalPreviewStatus=='Resubmitted',
					'acceptStatus': x.technicalPreviewStatus=='Acceptable' }">{{x.technicalPreviewStatus}}
					</td>
					<td><a class="btn ntn-default btnHome" href="#/editorHome"
						ng-click="updateStatus(x.entryId)"
						ng-show="x.technicalPreviewStatus=='Pending'">Update</a> <a
						class="btn ntn-default btnHome" href="#/editorHome"
						ng-click="resubmit(x.entryId)"
						ng-show="x.technicalPreviewStatus=='Not OK'">Resubmit</a></td>
				</tr>
			</table>
		</div>


		<div ng-show="isUpdateDetails=='2'">
			<form novalidate class="form-inline editForm" name="addFormHome">
				<div class="addForm">



					<div class="form-group">
						<label class="radio-inline"> <input type="radio"
							id="programType" ng-model="programTypeH" name="programTypeH"
							value="Program"><b>Program</b></label> <label
							class="radio-inline"> <input type="radio"
							id="programTypeH" ng-model="programTypeH" name="programTypeH"
							value="Promo"><b>Promo</b>
						</label> <label class="radio-inline"> <input type="radio"
							id="programTypeH" ng-model="programTypeH" name="programTypeH"
							value="Commercial"><b>Commercial</b>
						</label><br> <br> <label>Program Name:</label> <select
							ng-change="updateGenreH(programH)" ng-model="programH"
							ng-options="item.programId as item.programName for item in programList"
							class="form-control programSelectBox" name="programH"
							id="programH" required="required">
							<option value="">Select Program</option>
						</select> <br> <span class="errorMsg errAlign"
							ng-show="addFormHome.programH.$dirty && addFormHome.programH.$error.required">
							<span class="glyphicon glyphicon-warning-sign"></span>
							&nbsp;Program Name is required.
						</span>


					</div>

					<br> <br>
					<div class="form-group">
						<label>Genre:</label> <input type="text" class="form-control"
							ng-model="genreH" name="genreH" id="genreH"
							placeholder="Enter Genre" disabled="disabled">
					</div>

					<br> <br>
					<div class="form-group">
						<label>Subject:</label> <input type="text" class="form-control"
							ng-model="subjectH" name="subjectH" id="subjectH"
							placeholder="Enter Subject" required="required"
							ng-pattern="/^[a-zA-Z0-9 ]*$/"> <br> <span
							class="errorMsg errAlign"
							ng-show="addFormHome.subjectH.$dirty && (addFormHome.subjectH.$error.required || addFormHome.subjectH.$invalid)">
							<span class="glyphicon glyphicon-warning-sign"></span>
							&nbsp;Subject is required & Only Alphabets allowed.
						</span>
					</div>
					<br> <br>
					<div class="form-group">
						<label>Choose NLE:{{nle}}</label><select ng-model="nleH"
							class="form-control programSelectBox" name="nleH" id="nleH"
							required="required">
							<option value="">Select NLE</option>
							<option value="h1">HD NLE 1</option>
							<option value="s1">NLE 1</option>
							<option value="s1a">NLE 1A</option>
							<option value="s2">NLE 2</option>
							<option value="s2a">NLE 2A</option>
							<option value="s3">NLE 3</option>
							<option value="s4">NLE 4</option>
							<option value="s5">NLE 5</option>
							<option value="s6">NLE 6</option>
							<option value="s11">NLE 11</option>
						</select> <br> <span class="errorMsg errAlign"
							ng-show="addForm.nle.$dirty  && (addForm.nle.$error.required
						 || addForm.nle.$invalid)">
							<span class="glyphicon glyphicon-warning-sign"></span> &nbsp;NLE
							is required.
						</span>
					</div>
					<br> <br>
					<div class="form-group">
						<label class="radio-inline"> <input type="radio"
							ng-click="manualEntries()" id="manualEntryUpdate"
							ng-model="manualEntryUpdate" value="dropdown"
							name="manualEntryUpdate"><b>Dropdown Entries</b></label> <label
							class="radio-inline"> <input type="radio" value="manual"
							id="manualEntryUpdate" ng-model="manualEntryUpdate"
							ng-click="manualEntries()" name="manualEntryUpdate"><b>Manual
								Entries</b></label>

					</div>
					<br> <br>
					<div class="form-group">
						<label>File Path:</label> <input type="text"
							class="form-control fileInput" ng-model="filePathH"
							name="filePathH" id="filePathH"
							placeholder="Click Get File Path button after upload"
							ng-disabled="manualEntry ==false" required="required"> <input
							ng-show="manualEntry ==false" type="file" class="fileChoose"
							ng-model="filePathBrowseH" name="filePathBrowseH"
							id="filePathBrowseH" placeholder="Enter File Path">
						<button class="btn ntn-default btnHome"
							ng-show="manualEntry ==false" ng-click="getFilePathH(programH)">Get
							File path</button>
					</div>
					<br> <br>
					<div class="form-group">
						<label>File Name:</label> <input type="text"
							class="form-control fileInput" ng-model="fileNameH"
							name="fileNameH" id="fileNameH" placeholder="Enter File Name"
							ng-disabled="manualEntry ==false" required="required">
					</div>
					<br> <br>
					<div class="form-group">
						<label>Media Format:</label><input type="text"
							class="form-control" ng-model="mediaFormatH" name="mediaFormatH"
							id="mediaFormatH" placeholder="Enter Media Format"
							ng-disabled="manualEntry ==false" required="required">
					</div>
					<br> <br>
					<div class="form-group">
						<label ng-show="isEpisode">Episode Number:</label> <label
							ng-hide="isEpisode">Telecast Date:</label> <input type="text"
							class="form-control" ng-model="episodeNumberH"
							name="episodeNumberH" id="episodeNumberH" required="required">
					</div>


					<br> <br>

					<div class="form-group">
						<label>Producer:</label><select ng-model="producerNameH"
							ng-options="item.userName as item.firstName+' '+item.lastName for item in producerList | orderBy:'firstName'"
							class="form-control programSelectBox" name="producerNameH"
							id="producerNameH" required="required">
							<option value="">Select Producer</option>
						</select> <br> <span class="errorMsg errAlign"
							ng-show="addFormHome.producerNameH.$dirty && (addFormHome.producerNameH.$error.required
						 || addFormHome.producerNameH.$invalid)">
							<span class="glyphicon glyphicon-warning-sign"></span>
							&nbsp;Producer name is required.
						</span>
					</div>
					<br> <br>

					<div class="form-group">
						<label>Artists:</label> <input type="text" class="form-control"
							ng-model="artist1H" name="artist1H" id="artist1H"
							placeholder="Enter Artist 1" ng-pattern="/^[a-zA-Z/., ]*$/">
						<input type="text" class="form-control" ng-model="artist2H"
							name="artist2H" id="artist2H" placeholder="Enter Artist 2"
							ng-pattern="/^[a-zA-Z/., ]*$/"> <input type="text"
							class="form-control" ng-model="artist3H" name="artist3H"
							id="artist3" placeholder="Enter Artist 3"
							ng-pattern="/^[a-zA-Z/., ]*$/"> <br> <span
							class="errorMsg errAlign"
							ng-show="(addFormHome.artist2H.$dirty && addFormHome.artist2H.$invalid)||
						(addFormHome.artist3H.$dirty && addFormHome.artist3H.$invalid) ||
						(addFormHome.artist1H.$dirty && addFormHome.artist1H.$invalid)">
							<span class="glyphicon glyphicon-warning-sign"></span> &nbsp;Only
							Alphabets allowed.
						</span>
					</div>
					<br> <br>
					<div class="form-group">
						<label>Guests:</label> <input type="text" class="form-control"
							ng-model="guest1H" name="guest1H" id="guest1H"
							placeholder="Enter Guest 1" ng-pattern="/^[a-zA-Z/., ]*$/">
						<input type="text" class="form-control" ng-model="guest2H"
							name="guest2H" id="guest2H" placeholder="Enter Guest 2"
							ng-pattern="/^[a-zA-Z/., ]*$/"> <input type="text"
							class="form-control" ng-model="guest3H" name="guest3H"
							id="guest3H" placeholder="Enter Guest 3"
							ng-pattern="/^[a-zA-Z/., ]*$/"> <br> <span
							class="errorMsg errAlign"
							ng-show="(addFormHome.guest1H.$dirty && addFormHome.guest1H.$invalid)||
						(addFormHome.guest2H.$dirty && addFormHome.guest2H.$invalid)||
						(addFormHome.guest3H.$dirty && addFormHome.guest3H.$invalid)">
							<span class="glyphicon glyphicon-warning-sign"></span> &nbsp;Only
							Alphabets allowed.
						</span>
					</div>
					<br> <br>
					<div class="form-group">
						<label>Cameraman:</label> <input type="text" class="form-control"
							ng-model="cameraMan1H" name="cameraMan1H" id="cameraMan1H"
							placeholder="Enter cameraman 1" ng-pattern="/^[a-zA-Z/., ]*$/">
						<input type="text" class="form-control" ng-model="cameraMan2H"
							name="cameraMan2H" id="cameraMan2H"
							placeholder="Enter cameraman 2" ng-pattern="/^[a-zA-Z/., ]*$/">
						<input type="text" class="form-control" ng-model="cameraMan3H"
							name="cameraMan3H" id="cameraMan3H"
							placeholder="Enter cameraman 3" ng-pattern="/^[a-zA-Z/., ]*$/">
						<br> <span class="errorMsg errAlign"
							ng-show="(addFormHome.cameraMan1H.$dirty && addFormHome.cameraMan1H.$invalid)||
						(addFormHome.cameraMan2H.$dirty && addFormHome.cameraMan2H.$invalid)||
						(addFormHome.cameraMan3H.$dirty && addFormHome.cameraMan3H.$invalid)">
							<span class="glyphicon glyphicon-warning-sign"></span> &nbsp;Only
							Alphabets allowed.
						</span>
					</div>
					<br> <br>

					<div class="form-group">
						<label>Edit Suit:</label> <select ng-model="editSuitH"
							ng-change="updateEditSuitH(editSuitH)"
							ng-options="item.editSuiteId as item.editSuiteName for item in editSuitList"
							class="form-control programSelectBox" name="editSuitH"
							id="editSuitH" required="required">
							<option value="">Select Edit Suit</option>
						</select> <br> <span class="errorMsg errAlign"
							ng-show="addFormHome.editSuitH.$dirty && addFormHome.editSuitH.$error.required">
							<span class="glyphicon glyphicon-warning-sign"></span> &nbsp;Edit
							Suit is required.
						</span>
					</div>
					<br> <br>

					<div class="buttonGroup">
						<button class="btn ntn-default btnHome" ng-click="homeLoad();">Back</button>
						<button class="btn ntn-default btnHome"
							ng-click="UpdateProgram();">Update Details</button>
					</div>
					<br> <br> <br>
				</div>
			</form>
		</div>
		<div ng-show="isUpdateDetails=='3'">
			<table class="homeTable">
				<tr class="tableHead">
					<td>S No.</td>
					<td>Date and Time</td>
					<td>Techinal Director</td>
					<td>Remarks</td>

				</tr>
				<tr ng-repeat="x in techRemarksAll">
					<td>{{ $index + 1 +"."}}</td>
					<td>{{x.lastModifiedTime |date:'dd-MM-yyyy, HH:mm:ss'}}</td>
					<td>{{x.technicalDirector.firstName+'
						'+x.technicalDirector.lastName}}</td>
					<td>{{x.remark}}</td>

				</tr>
			</table>
			<div class="buttonGroupReview">
				<button class="btn ntn-default btnHome"
					ng-click="isUpdateDetails='1'">Back To Home</button>
			</div>
		</div>
		<br> <br>
	</div>
</div>

