<p class="wlcmMsg">Welcome to DD Sahyadri Database</p>
	<div >

		<div>
		<form novalidate class="form-inline loginDiv"
				name="loginForm">
				<div class="form-group">
					<label>User Name:</label> <input type="text" ng-change="loginErr=undefined"
						class="form-control" ng-model="userName" name="userName" autofocus="autofocus"
						id="userName" placeholder="Enter User Name" required="required"
						ng-pattern="/^[a-zA-Z0-9._@ ]*$/"><br> <span
						class="errorMsg errAlign"
						ng-show="loginForm.userName.$dirty && (loginForm.userName.$error.required ||
						 loginForm.userName.$invalid)"> 
						<span class="glyphicon glyphicon-warning-sign"></span>&nbsp;User 
						Name is required & Only Alphabets allowed.
					</span><span
						class="errorMsg errAlign" ng-show="loginForm.userName.$error.invalidName">
						<span class="glyphicon glyphicon-warning-sign"></span>&nbsp;Should Start with A.</span><br>
				</div>

				<br> 
				<div class="form-group">
					<label>Password:</label> <input type="password" ng-change="loginErr=undefined"
						class="form-control" ng-model="password" name="password" 
						id="password" placeholder="Enter Password" required="required"
						ng-pattern="/^[a-zA-Z0-9 ]*$/"><br> <span
						class="errorMsg errAlign"
						ng-show="loginForm.password.$dirty && (loginForm.password.$error.required ||
						 loginForm.password.$invalid)">
						<span class="glyphicon glyphicon-warning-sign"></span>&nbsp;Last 
						Name is required & Only Alphabets allowed.
					</span><br>
				</div>
				<br> 
				<div class="buttonGroup loginBtnGroup">
					<button class="btn ntn-default btnHome"
						ng-click="login();"
						ng-disabled="loginForm.$invalid || loginForm.$pristine">Login</button>
					<button class="btn ntn-default btnHome"
						ng-click="clearLoginData();">Clear</button>
				</div>
				<div ng-show="loginErr" class="errorMsg errAlign errLogin">
						<span class="glyphicon glyphicon-warning-sign"></span>&nbsp;<b>{{loginErr}}</b>
					</span></div>
				
		</form>
		</div>
	</div>
	

