


<div>
	<div class="addForm">
		<nav class="navbar navbar-default">
			<div class="container-fluid gradient">
				<div class="navbar-header navHeadAlign">
					<a class="navbar-brand" href="#/admin">Master Panel</a>
				</div>
				<div>
					<ul class="nav navbar-nav">
						<li ng-class="{'active': masterIcon=='program'}" id="program"><a
							href="" data-id="AddProgram" ng-click="masterNavActive($event)">Add
								Program</a></li>
						<li id="genre" ng-class="{'active': masterIcon=='genre'}"><a
							href="" data-id="AddGenre" ng-click="masterNavActive($event)">Add
								Genre</a></li>
						<li id="editSuit" ng-class="{'active': masterIcon=='editSuit'}"><a
							href="" data-id="AddEditSuit" ng-click="masterNavActive($event)">
								Add EditSuit</a></li>
						<li id="role" ng-class="{'active': masterIcon=='role'}"><a
							href="" data-id="AddRole" ng-click="masterNavActive($event)">Add
								Group</a></li>
						<li id="user" ng-class="{'active': masterIcon=='user'}"><a
							href="" data-id="AddUser" ng-click="masterNavActive($event)">
								Add User</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<form novalidate class="form-inline editProgramForm" name="newProgram"
			ng-show="masterIcon=='program'">
			<div class="">
				<label>Program Type:</label> <label class="radio-inline"> <input
					type="radio" id="fileType" ng-model="fileType" name="fileType"
					value="Episode">Episode

				</label> <label class="radio-inline"> <input type="radio"
					id="fileType" ng-model="fileType" name="fileType" value="Special">Special

				</label>
			</div>
			<br>
			<div class="form-group">
				<label>Available Programs:</label> <select
					ng-model="availableProgram"
					ng-options="item.programName for item in programList | orderBy:'programName'"
					class="form-control programSelectBox" name="availableProgram"
					id="availableProgram">
					<option value=""><strong>Available Programs</strong></option>
				</select><br> <br> <label>Program Name:</label> <input type="text"
					class="form-control" ng-model="programName" name="programName"
					capitalize-first id="programName" placeholder="Enter Program Name"
					ng-change="programServerErr=undefined" required="required"
					ng-pattern="/^[a-zA-Z ]*$/"> <br> <span
					class="errorMsg errAlign"
					ng-show="newProgram.programName.$dirty && (newProgram.programName.$error.required || newProgram.programName.$invalid)">
					<span class="glyphicon glyphicon-warning-sign"></span>
					&nbsp;Program Name is required & Only Alphabets allowed.
				</span>
			</div>

			<br> <br>
			<div class="form-group">
				<label>Genre:</label> <select ng-model="newGenre"
					ng-options="item.genreName for item in genreList | orderBy:'genreName'"
					class="form-control programSelectBox" name="newGenre" id="newGenre"
					required="required">
					<option value=""><strong>Select Genre</strong></option>
				</select> <br> <span class="errorMsg errAlign"
					ng-show="newProgram.newGenre.$dirty && newProgram.newGenre.$error.required">
					<span class="glyphicon glyphicon-warning-sign"></span>&nbsp;Genre
					is required & Only Alphabets allowed.
				</span> <span class="errorMsg errAlign" ng-show="programServerErr"><span
					class="glyphicon glyphicon-warning-sign"> </span>&nbsp;{{programServerErr}}</span><br>
			</div>
			<br> <br>
			<div class="buttonGroup">
				<button class="btn ntn-default btnHome" ng-click="addProgramData();"
					ng-disabled="newProgram.$invalid || newProgram.$pristine">Add
					Program</button>
				<button class="btn ntn-default btnHome"
					ng-click="clearProgramData();">Clear</button>
			</div>

		</form>

		<form novalidate class="form-inline editProgramForm"
			name="newGenreForm" ng-show="masterIcon=='genre'">

			<div class="form-group">
				<label>Available Genre:</label> <select ng-model="availableGenre "
					ng-options="item.genreName for item in genreList | orderBy:'genreName'"
					class="form-control programSelectBox" name="availableGenre"
					id="availableGenre">
					<option value=""><strong>Available Genre</strong></option>
				</select>
			</div>

			<br> <br>
			<div class="form-group">
				<label>Add Genre:</label> <input type="text" class="form-control"
					capitalize-first ng-model="addGenre" name="addGenre" id="addGenre"
					ng-change="genreServerErr=undefined" placeholder="Enter Genre"
					required="required" ng-pattern="/^[a-zA-Z ]*$/"><br> <span
					class="errorMsg errAlign"
					ng-show="newGenreForm.addGenre.$dirty && (newGenreForm.addGenre.$error.required ||
						 newGenreForm.addGenre.$invalid)">
					<span class="glyphicon glyphicon-warning-sign"></span>&nbsp;Genre
					is required & Only Alphabets allowed.
				</span> <span class="errorMsg errAlign" ng-show="genreServerErr"><span
					class="glyphicon glyphicon-warning-sign"> </span>&nbsp;{{genreServerErr}}</span><br>
			</div>
			<br> <br>
			<div class="buttonGroup">
				<button class="btn ntn-default btnHome" ng-click="addNewGenre();"
					ng-disabled="newGenreForm.$invalid || newGenreForm.$pristine">Add
					Genre</button>
				<button class="btn ntn-default btnHome" ng-click="clearGenre();">Clear</button>
			</div>

		</form>

		<form novalidate class="form-inline editProgramForm"
			name="newSuitForm" ng-show="masterIcon=='editSuit'">

			<div class="form-group">
				<label>Available Edit Suits:</label> <select
					ng-model="availableSuit"
					ng-options="item.editSuiteName for item in editSuitList | orderBy:'editSuiteName'"
					class="form-control programSelectBox" name="availableSuit"
					id="availableSuit">
					<option value=""><strong>Available Edit Suits</strong></option>
				</select>
			</div>

			<br> <br>
			<div class="form-group">
				<label>Add Edit Suit:</label> <input type="text"
					class="form-control" ng-model="addEditSuit" name="addEditSuit"
					ng-change="editSuitServerErr=undefined" capitalize-first
					id="addEditSuit" placeholder="Enter Edit Suit" required="required"
					ng-pattern="/^[a-zA-Z ]*$/"><br> <span
					class="errorMsg errAlign"
					ng-show="newSuitForm.addEditSuit.$dirty && (newSuitForm.addEditSuit.$error.required ||
						 newSuitForm.addEditSuit.$invalid)">
					<span class="glyphicon glyphicon-warning-sign"></span>&nbsp;Edit
					Suit is required & Only Alphabets allowed.
				</span> <span class="errorMsg errAlign" ng-show="editSuitServerErr"><span
					class="glyphicon glyphicon-warning-sign"> </span>&nbsp;{{editSuitServerErr}}</span><br>
			</div>
			<br> <br>
			<div class="buttonGroup">
				<button class="btn ntn-default btnHome" ng-click="addNewEditSuit();"
					ng-disabled="newSuitForm.$invalid || newSuitForm.$pristine">Add
					Edit Suit</button>
				<button class="btn ntn-default btnHome" ng-click="clearEditSuit();">Clear</button>
			</div>

		</form>

		<form novalidate class="form-inline editProgramForm"
			name="newRoleForm" ng-show="masterIcon=='role'">

			<div class="form-group">
				<label>Available Groups:</label> <select ng-model="availableRole"
					ng-options="item.userRoleName for item in roleList | orderBy:'userRoleName'"
					class="form-control programSelectBox" name="availableRole"
					id="availableRole">
					<option value=""><strong>Available Groups</strong></option>
				</select>
			</div>

			<br> <br>
			<div class="form-group">
				<label>Add Group:</label> <input type="text" class="form-control"
					ng-model="addRole" name="addRole" capitalize-first id="addRole"
					placeholder="Enter Role" required="required"
					ng-change="roleServerErr=undefined" ng-pattern="/^[a-zA-Z ]*$/"><br>
				<span class="errorMsg errAlign"
					ng-show="newRoleForm.addRole.$dirty && (newRoleForm.addRole.$error.required ||
						 newRoleForm.addRole.$invalid)">
					<span class="glyphicon glyphicon-warning-sign"></span>&nbsp;Group
					is required & Only Alphabets allowed.
				</span><br>
			</div>

			<br> 
			<div class="form-group">
				<label>Group Email:</label> <input type="text" class="form-control"
					ng-model="addRoleMail" name="addRoleMail" id="addRoleMail"
					placeholder="Enter Email" required="required"
					ng-pattern="/^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$/"><br> <span
					class="errorMsg errAlign"
					ng-show="newRoleForm.addRoleMail.$dirty && (newRoleForm.addRoleMail.$error.required ||
						 newRoleForm.addRoleMail.$invalid)">
					<span class="glyphicon glyphicon-warning-sign"></span>&nbsp;Group
					Email is required.
				</span> <span class="errorMsg errAlign" ng-show="roleServerErr"><span
					class="glyphicon glyphicon-warning-sign"> </span>&nbsp;{{roleServerErr}}</span><br>
			</div>
			<br> <br>
			<div class="buttonGroup">
				<button class="btn ntn-default btnHome" ng-click="addNewRole();"
					ng-disabled="newRoleForm$invalid || newRoleForm.$pristine">Add
					Role</button>
				<button class="btn ntn-default btnHome" ng-click="clearRole();">Clear</button>
			</div>


		</form>

		<form novalidate class="form-inline editProgramForm"
			name="newUserForm" ng-show="masterIcon=='user'">

			<div class="form-group">
				<label>First Name:</label> <input type="text" class="form-control"
					ng-model="fName" name="fName" capitalize-first id="fName"
					placeholder="Enter First Name" required="required"
					ng-pattern="/^[a-zA-Z ]*$/"><br> <span
					class="errorMsg errAlign"
					ng-show="newUserForm.fName.$dirty && (newUserForm.fName.$error.required ||
						 newUserForm.fName.$invalid)">
					<span class="glyphicon glyphicon-warning-sign"></span>&nbsp;First
					Name is required & Only Alphabets allowed.
				</span><br>
			</div>

			<br>
			<div class="form-group">
				<label>Last Name:</label> <input type="text" class="form-control"
					ng-model="lName" name="lName" id="lName"
					placeholder="Enter last Name" required="required" capitalize-first
					ng-pattern="/^[a-zA-Z ]*$/"><br> <span
					class="errorMsg errAlign"
					ng-show="newUserForm.lName.$dirty && (newUserForm.lName.$error.required ||
						 newUserForm.lName.$invalid)">
					<span class="glyphicon glyphicon-warning-sign"></span>&nbsp;Last
					Name is required & Only Alphabets allowed.
				</span><br>
			</div>

			<br>

			<div class="form-group">
				<label>User Name:</label> <input type="text" class="form-control"
					ng-model="userName" name="userName" id="userName"
					placeholder="Enter User Name" required="required"
					ng-change="userServerErr=undefined"
					ng-pattern="/^[a-zA-Z0-9._@ ]*$/"><br> <span
					class="errorMsg errAlign"
					ng-show="newUserForm.userName.$dirty && (newUserForm.userName.$error.required ||
						 newUserForm.userName.$invalid)">
					<span class="glyphicon glyphicon-warning-sign"></span>&nbsp;User
					Name is required, Only Alphanumerics, dot and underscore allowed.
				</span><br>
			</div>

			<br>
			<div class="form-group">
				<label>Password:</label> <input type="password" class="form-control"
					ng-model="password" name="password" id="password"
					placeholder="Enter Password" required="required"
					ng-pattern="/^[a-zA-Z0-9._ ]*$/"><br> <span
					class="errorMsg errAlign"
					ng-show="newUserForm.password.$dirty && (newUserForm.password.$error.required ||
						 newUserForm.password.$invalid)">
					<span class="glyphicon glyphicon-warning-sign"></span>&nbsp;Password
					is required, Only Alphanumerics, dot and underscore allowed.
				</span><br>
			</div>
			<br>
			<div class="form-group">
				<label>Group:</label> <select ng-model="userRole"
					ng-options="item.userRoleName for item in roleList  | orderBy:'userRoleName'"
					class="form-control programSelectBox" name="userRole"
					ng-change="updateRole(userRole)" id="userRole">
					<option value=""><strong>Select Role</strong></option>
				</select> <br>
				<span class="errorMsg errAlign"
					ng-show="newUserForm.userRole.$dirty && newUserForm.userRole.$error.required">
					<span class="glyphicon glyphicon-warning-sign"></span> &nbsp;Group
					is required.
				</span> <span class="errorMsg errAlign" ng-show="userServerErr"><span
					class="glyphicon glyphicon-warning-sign"> </span>&nbsp;{{userServerErr}}</span>
			</div>

			<br> <br>
			<div class="form-group">
				<label>Email:</label> <input type="email" class="form-control programSelectBox "
					ng-model="addUserMail" name="addUserMail" id="addUserMail"
					placeholder="Enter Email" required="required"
					"><br> <span
					class="errorMsg errAlign"
					ng-show="newUserForm.addUserMail.$dirty && (newUserForm.addUserMail.$error.required ||
						 newUserForm.addUserMail.$invalid)">
					<span class="glyphicon glyphicon-warning-sign"></span>&nbsp;Email is required.
				</span><br>
			</div>
			<br> <br> 
			<div class="buttonGroup">
				<button class="btn ntn-default btnHome" ng-click="addNewUser();"
					ng-disabled="newUserForm.$invalid || newUserForm.$pristine">Add
					User</button>
				<button class="btn ntn-default btnHome" ng-click="clearUser();">Clear</button>
			</div>

		</form>
	</div>