<nav class="navbar navbar-default" ng-show="isUpdateDetails=='1'">
	<div class="container-fluid navGradient">
		<div class="navbar-header navHeadAlign">
			<a class="navbar-brand" href="#/techDirector">Filter Results</a>
		</div>
		<div>
			<ul class="nav navbar-nav">
				<li class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown" href="#/techDirector">Program Name<span
						class="caret"></span></a>
					<ul class="dropdown-menu">
						<li ng-repeat="x in programListDropdown | orderBy:'programName'"><a
							ng-click="filterProgram(x);"><b>{{x.programName}}</b></a></li>
					</ul></li>


				<li class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown" href="#/techDirector">Genre<span
						class="caret"></span></a>
					<ul class="dropdown-menu">
						<li ng-repeat="x in genreListDropdown | orderBy:'genreName'"
							ng-click="filterGenre(x);"><a><b>{{x.genreName}}</b></a></li>
					</ul></li>

				<li class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown" href="#/techDirector">Edit Suit<span
						class="caret"></span></a>
					<ul class="dropdown-menu">
						<li
							ng-repeat="x in editSuitListDropdown | orderBy:'editSuiteName'"><a
							ng-click="filterEditSuit(x);"><b>{{x.editSuiteName}}</b></a></li>
					</ul></li>

				<li class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown" href="#/techDirector">Status<span
						class="caret"></span></a>
					<ul class="dropdown-menu">

						<li ng-repeat="x in statusListDropdown | orderBy:'status'"><a
							ng-click="filterStatus(x);"><b>{{x.status}}</b></a></li>

					</ul></li>

				<li class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown" href="#/techDirector">Producer<span
						class="caret"></span></a>
					<ul class="dropdown-menu">
						<li ng-repeat="x in producerListDropdown | orderBy:'firstName'"><a
							ng-click="filterProducer(x);"><b>{{x.firstName+'
									'+x.lastName }}</b></a></li>
					</ul></li>

			</ul>
		</div>
	</div>
</nav>

<div ng-show="programFilterVal.length !='0'" class="filterSelection">
	Programs:
	<li ng-repeat="x in programFilterVal" class="selectedLi"><a
		class="selectedA"><b class="nameColor">{{x.programName}}</b> <span
			class="selectedFilterList" ng-click="clearProgram(x)">&#x2716;</span></a></li>
</div>
<div ng-show="genreFilterVal.length !='0'" class="filterSelection">
	Genres:
	<li ng-repeat="x in genreFilterVal" class="selectedLi"><a
		class="selectedA"><b class="nameColor">{{x.genreName}}</b> <span
			class="selectedFilterList" ng-click="clearGenre(x)">&#x2716;</span></a></li>
</div>
<div ng-show="editSuitFilterVal.length !='0'" class="filterSelection">
	Edit Suites:
	<li ng-repeat="x in editSuitFilterVal" class="selectedLi"><a
		class="selectedA"><b class="nameColor">{{x.editSuiteName}}</b> <span
			class="selectedFilterList" ng-click="clearEditSuit(x)">&#x2716;</span></a></li>
</div>
<div ng-show="statusFilterVal.length !='0'" class="filterSelection">
	Status:
	<li ng-repeat="x in statusFilterVal" class="selectedLi"><a
		class="selectedA"><b class="nameColor">{{x.status}}</b> <span
			class="selectedFilterList" ng-click="clearStatus(x)">&#x2716;</span></a></li>
</div>
<div ng-show="producerFilterVal.length !='0'" class="filterSelection">
	Producers:
	<li ng-repeat="x in producerFilterVal" class="selectedLi"><a
		class="selectedA"><b class="nameColor">{{x.firstName+'
				'+x.lastName}}</b> <span class="selectedFilterList"
			ng-click="clearProducer(x)">&#x2716;</span></a></li>
</div>

<br>
<div class="form-group radioHome">
	<label class="radio-inline"> <input type="radio"
		id="programTypeHome" ng-model="programTypeHome" value="Program"
		ng-click="fetchNewData()" name="programTypeHome"><b>Program</b></label>
	<label class="radio-inline"> <input type="radio" value="Promo"
		id="programTypeHome" ng-model="programTypeHome"
		ng-click="fetchNewData()" name="programTypeHome"><b>Promo</b></label>

</div>
<div class="">
	<table class="reviewTable table" ng-show="isUpdateDetails=='1'">
		<tr class="tableHead">
			<td>S No.</td>
			<td>Program Name</td>
			<td ng-show="programTypeHome=='Promo'">Duration</td>
			<td>File Path</td>
			<td>Technical Preview</td>
			<td>Preview Remarks</td>
			<td>Preview Status</td>
			<td>Modify</td>
			<td>Subject</td>
			<td>Genre</td>
			<td>Edit Suite</td>
			<td>Producer</td>
			<td>Edited By</td>
			

		</tr>
		<tr ng-repeat="x in names">
			<td>{{ $index + 1 +"."}}</td>
			<td>{{ x.programmeName }}</td>
			<td ng-show="programTypeHome=='Promo'">{{ x.promoDuration }}</td>
			<td>{{ x.filePath }}</td>
			<td><span class="redioBlock"> <input type="radio"
					id="technicalPreview" ng-model="technicalPreview"
					name="{{$index}}technicalPreview" value="Ok"
					ng-click="updateStatus(x,technicalPreview);"><b class="radioAlign">OK</b>
			</span> <span class="redioBlock"> <input type="radio"
					id="technicalPreview" ng-model="technicalPreview"
					name="{{$index}}technicalPreview" value="NotOk"
					ng-click="updateStatus(x,technicalPreview);"><b class="radioAlign">Not OK</b>
			</span>
			<span class="redioBlock"> <input type="radio"
					id="technicalPreview" ng-model="technicalPreview"
					name="{{$index}}technicalPreview" value="Acceptable"
					ng-click="updateStatus(x,technicalPreview);"><b class="radioAlign">Acceptable</b>
			</span></td>
			<td><textarea id="remark" name="remark" ng-model="remark"
					ng-disabled="technicalPreview == undefined" class="form-control"
					rows="3" ng-blur="updateRemark(remark)"></textarea> <a
				ng-click="seeAllRemarks(x.entryId)" href="#/techDirector"
				ng-hide="x.technicalPreviewStatus=='Pending'"
				class="btn ntn-default btn-active">History</a></td>
			<td
				ng-class="{'pendingStatus': x.technicalPreviewStatus=='Pending',
						 'notOKStatus': x.technicalPreviewStatus=='Not OK',
					'OKStatus': x.technicalPreviewStatus=='OK',
					'ResubmitStatus': x.technicalPreviewStatus=='Resubmitted',
					'acceptStatus': x.technicalPreviewStatus=='Acceptable'}">{{x.technicalPreviewStatus}}</td>
			<td><button class="btn ntn-default btnHome" ng-click="modify();">Modify</button></td>
			<td>{{ x.subject}}</td>
			<td>{{ x.genre }}</td>
			<td>{{ x.editSuiteName }}</td>
			<td>{{ x.producer.firstName+' '+ x.producer.lastName}}</td>
			<td>{{ x.editor.firstName+' '+ x.editor.lastName }}</td>
			
		</tr>
	</table>
</div>
<br>
<br>

<div ng-show="isUpdateDetails=='2'">
	<table class="homeTable">
		<tr class="tableHead">
			<td>S No.</td>
			<td>Date and Time</td>
			<td>Techinal Director</td>
			<td>Remarks</td>

		</tr>
		<tr ng-repeat="x in techRemarksAll">
			<td>{{ $index + 1 +"."}}</td>
			<td>{{x.lastModifiedTime |date:'dd-MM-yyyy HH:mm:ss'}}</td>
			<td>{{x.technicalDirector.firstName+'
				'+x.technicalDirector.lastName}}</td>
			<td>{{x.remark}}</td>

		</tr>
	</table>
	<div class="buttonGroupReview">
		<button class="btn ntn-default btnHome" ng-click="isUpdateDetails='1'">Back
			To Reviewer Home</button>
	</div>
</div>
<br>



